@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-surface-darker: var(--color-surface-darker);
  --color-border: var(--color-border);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-inverse: var(--color-text-inverse);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-info: var(--color-info);
}

@layer base {
  :root {
    /* Ora Brand Colors */
    /* --grigio00: #f0f3f7;
    --grigio01: #e4e4e4;
    --grigio02: #d0d4de;
    --grigio04: #9ea5b1; */

    /* Giallo Ora */
    --color-primary: #ffd957;
    /* Giallo Ora Chiaro */
    --color-primary-hover: #ffe285;

    /* Blu Ora (Nero) */
    --color-secondary: #000000;
    /* Blu Ora Hover */
    --color-secondary-hover: #101e32;

    /* Grigio 00 */
    --color-background: #f0f3f7;
    --color-surface: #ffffff;
    --color-surface-darker: #d0d4de;
    --color-border: #dee1ea;

    /* Text */
    --color-text-primary: #000000;
    --color-text-secondary: #9ea5b1;
    /* --color-text-muted: #9ea5b1; */
    --color-text-inverse: #ffffff;

    /* Feedback */
    --color-success: hsl(142 71% 45%);
    --color-warning: hsl(38 92% 50%);
    --color-error: hsl(0 84% 60%);
    --color-info: hsl(204 94% 55%);
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text-primary;
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    "Roboto Flex", "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
